.button-type-item {
  display: flex;
  padding: 11px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid var(--classic, #000);
  background: var(--creme, #fffef1);
  color: var(--Black, var(--classic, #000));
  text-align: center;
  font-family: Archivo;
  font-size: 14px;
}

input:checked + .button-type-item {
  display: flex;
  padding: 11px 10px;
  justify-content: center;
  align-items: center;
  background: var(--green, #c6d739);
  border-radius: 12px;
  border: 2px solid var(--classic, #000);
  color: var(--Black, var(--classic, #000));
  text-align: center;
  font-family: Archivo;
  font-size: 14px;
}

.button-type input {
  display: none;
}

.type-button {
  display: flex;
}

.button-normal {
  position: absolute;
}

.button-normal:checked {
  position: absolute;
}

.button-type-mode {
  margin-left: 44px;
  padding-left: 35px;
}
