.button-add-verb {
  display: inline-flex;
  padding: 10px 16px;
  border-radius: 14px;
  border: 2px solid var(--Black, #000);
  background: var(--creme, #fffef1);
}

.button-add-verb ::placeholder {
  color: black;
}

.first-box-v {
  display: flex;
  justify-content: space-between;
}

.delete-verb {
  color: var(--Black, var(--classic, #000));
  font-family: Archivo;
  font-size: 12px;
  text-decoration-line: underline;
}

.button-add-verb input {
  background: var(--creme, #fffef1);
  border: none;
  color: var(--Black, var(--classic, #000));
  font-family: Archivo;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.verb-select {
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
  border-radius: 13px;
  border: 2px solid var(--Black, #000);
  background: var(--violet, #ddd1fa);
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 3px;
  align-items: center;
}

.cross {
  width: 10px;
  height: 10px;
}

.second-box-v {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 23px;
}
