.button-ex-verb {
  display: inline-flex;
  padding: 10px 16px;
  border-radius: 14px;
  border: 2px solid var(--Black, #000);
  background: var(--creme, #fffef1);
  width: calc(40vw - 50px);
}

.button-ex-verb ::placeholder {
  color: black;
}

.button-ex-verb input {
  background: var(--creme, #fffef1);
  border: none;
  color: var(--Black, var(--classic, #000));
  font-family: Archivo;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  width: calc(35vw - 40px);
  justify-content: center;
}

.button-verification input {
  border: 2px solid var(--Black, #000);
  background: var(--violet, #ddd1fa);
  box-shadow: 2px 2px 0px 0px #000;
  background: var(--violet, #ddd1fa);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 14px;
}

.verb-card {
  display: flex;
  gap: 20px;
  justify-content: center;
}
