.admin-info {
  position: relative;
}

.admin-info .choice-admin {
  position: absolute;
  top: -1;
  left: -1;
  opacity: 0;
  z-index: 4;
  pointer-events: none;
}

.admin-info:hover .choice-admin {
  opacity: 1;
  pointer-events: all;
  height: auto;
}

.choice-admin {
  border-radius: 12px;
  border: 2px solid var(--classic, #000);
  background: var(--creme, #fffef1);
  color: var(--Black, var(--classic, #000));
  text-align: left;
  flex-direction: column;
  padding: 10px;
  box-shadow: 1px 1px #000;
  overflow: hidden;
  height: 0;
  transition: all 120ms ease-out;
}

.button-admin-verb {
  display: inline-flex;
  padding: 5px 5px;
  border-radius: 12px;
  border: 2px solid var(--Black, #000);
  background: var(--creme, #fffef1);
}

.button-admin-verb ::placeholder {
  color: black;
}

.button-admin-verb input {
  background: var(--creme, #fffef1);
  border: none;
  color: var(--Black, var(--classic, #000));
  font-family: Archivo;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}
